# ***Pandas***
**Pandas** is a Python library that makes it easy to work with large amounts of data.

It provides tools to clean, organize, and analyze data efficiently.

Think of it as a powerful spreadsheet, but for Python, helping you handle data quickly and easily.

It is a way to handle data, data cleaning, data handling, aggregation,  making data manipulation and analysis tasks easier and faster.

In [2]:
import pandas as pd
pd.__version__

'2.0.3'

***Reading Files***

In [6]:
df = pd.read_csv('/content/countries of the world.csv')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [4]:
pd.read_csv('/content/countries of the world.csv',header=None)

                   0                                    1
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

In [5]:
pd.read_csv('/content/countries of the world.csv',header=None,names = ['Country','Region'])

             Country                               Region
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

In [11]:
pd.read_csv('/content/countries of the world.txt')

                                       Country\tRegion
0          Afghanistan \tASIA (EX. NEAR EAST)
1        Albania \tEASTERN EUROPE
2        Algeria \tNORTHERN AFRICA
3    American Samoa \tOCEANIA                      ...
4        Andorra \tWESTERN EUROPE
..                                                 ...
222    West Bank \tNEAR EAST
223  Western Sahara \tNORTHERN AFRICA              ...
224        Yemen \tNEAR EAST
225       Zambia \tSUB-SAHARAN AFRICA
226     Zimbabwe \tSUB-SAHARAN AFRICA

[227 rows x 1 columns]

In [10]:
df1 = pd.read_csv('/content/countries of the world.txt',sep = '\t')
df1

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [12]:
pd.read_table('/content/countries of the world.txt')

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [13]:
pd.read_json('/content/json_sample.json')

,12 Strong,A Fantastic Woman (Una Mujer Fantástica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,...,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...",...,"{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [26]:
df2 = pd.read_excel('/content/world_population_excel_workbook.xlsx',sheet_name=1)
df2

     Rank CCA3                           Country              Capital
0      36  AFG                       Afghanistan                Kabul
1     138  ALB                           Albania               Tirana
2      34  DZA                           Algeria              Algiers
3     213  ASM                    American Samoa            Pago Pago
4     203  AND                           Andorra     Andorra la Vella
5      42  AGO                            Angola               Luanda
6     224  AIA                          Anguilla           The Valley
7     201  ATG               Antigua and Barbuda       Saint Johnâ€™s
8      33  ARG                         Argentina         Buenos Aires
9     140  ARM                           Armenia              Yerevan
10    198  ABW                             Aruba           Oranjestad
11     55  AUS                         Australia             Canberra
12     99  AUT                           Austria               Vienna
13     91  AZE                        Azerbaijan                 Baku
14    176  BHS                           Bahamas               Nassau
15    154  BHR                           Bahrain               Manama
16      8  BGD                        Bangladesh                Dhaka
17    186  BRB                          Barbados           Bridgetown
18     96  BLR                           Belarus                Minsk
19     81  BEL                           Belgium             Brussels
20    177  BLZ                            Belize             Belmopan
21     77  BEN                             Benin           Porto-Novo
22    206  BMU                           Bermuda             Hamilton
23    165  BTN                            Bhutan              Thimphu
24     80  BOL                           Bolivia                Sucre
25    137  BIH            Bosnia and Herzegovina             Sarajevo
26    144  BWA                          Botswana             Gaborone
27      7  BRA                            Brazil             Brasilia
28    221  VGB            British Virgin Islands            Road Town
29    175  BRN                            Brunei  Bandar Seri Begawan
30    108  BGR                          Bulgaria                Sofia
31     58  BFA                      Burkina Faso          Ouagadougou
32     78  BDI                           Burundi            Bujumbura
33     73  KHM                          Cambodia           Phnom Penh
34     53  CMR                          Cameroon              Yaounde
35     39  CAN                            Canada               Ottawa
36    171  CPV                        Cape Verde                Praia
37    205  CYM                    Cayman Islands          George Town
38    117  CAF          Central African Republic               Bangui
39     69  TCD                              Chad            N'Djamena
40     65  CHL                             Chile             Santiago
41      1  CHN                             China              Beijing
42     28  COL                          Colombia               Bogota
43    163  COM                           Comoros               Moroni
44    223  COK                      Cook Islands               Avarua
45    124  CRI                        Costa Rica            San JosÃ©
46    130  HRV                           Croatia               Zagreb
47     85  CUB                              Cuba               Havana
48    189  CUW                           Curacao           Willemstad
49    158  CYP                            Cyprus              Nicosia
50     88  CZE                    Czech Republic               Prague
51    115  DNK                           Denmark           Copenhagen
52    160  DJI                          Djibouti             Djibouti
53    204  DMA                          Dominica               Roseau
54     84  DOM                Dominican Republic        Santo Domingo
55     15  COD                          DR Congo             Kinshasa
56     67  ECU                           Ecuador                Quito
57     14  EGY                             Egypt                Cairo
58    112  SLV                       El Salvador         San Salvador
59    152  GNQ                 Equatorial Guinea               Malabo
60    132  ERI                           Eritrea               Asmara
61    156  EST                           Estonia              Tallinn
62    159  SWZ                          Eswatini              Mbabane
63     12  ETH                          Ethiopia          Addis Ababa
64    231  FLK                  Falkland Islands              Stanley
65    209  FRO                     Faroe Islands            TÃ³rshavn
66    162  FJI                              Fiji                 Suva
67    118  FIN                           Finland             Helsinki
68     23  FRA                            France                Paris
69    184  GUF                     French Guiana              Cayenne
70    183  PYF                  French Polynesia              Papeete
71    146  GAB                             Gabon           Libreville
72    142  GMB                            Gambia               Banjul
73    131  GEO                           Georgia              Tbilisi
74     19  DEU                           Germany               Berlin
75     47  GHA                             Ghana                Accra
76    219  GIB                         Gibraltar            Gibraltar
77     90  GRC                            Greece               Athens
78    208  GRL                         Greenland                 Nuuk
79    193  GRD                           Grenada       Saint George's
80    178  GLP                        Guadeloupe          Basse-Terre
81    191  GUM                              Guam            HagÃ¥tÃ±a
82     68  GTM                         Guatemala       Guatemala City
83    207  GGY                          Guernsey     Saint Peter Port
84     75  GIN                            Guinea              Conakry
85    149  GNB                     Guinea-Bissau               Bissau
86    164  GUY                            Guyana           Georgetown
87     82  HTI                             Haiti       Port-au-Prince
88     89  HND                          Honduras          Tegucigalpa
89    104  HKG                         Hong Kong            Hong Kong
90     94  HUN                           Hungary             Budapest
91    179  ISL                           Iceland           ReykjavÃ­k
92      2  IND                             India            New Delhi
93      4  IDN                         Indonesia              Jakarta
94     17  IRN                              Iran               Tehran
95     35  IRQ                              Iraq              Baghdad
96    125  IRL                           Ireland               Dublin
97    202  IMN                       Isle of Man              Douglas
98     98  ISR                            Israel            Jerusalem
99     25  ITA                             Italy                 Rome
100    52  CIV                       Ivory Coast         Yamoussoukro
101   139  JAM                           Jamaica             Kingston
102    11  JPN                             Japan                Tokyo
103   195  JEY                            Jersey         Saint Helier
104    83  JOR                            Jordan                Amman
105    66  KAZ                        Kazakhstan            Nursultan
106    27  KEN                             Kenya              Nairobi
107   192  KIR                          Kiribati               Tarawa
108   129  KWT                            Kuwait          Kuwait City
109   110  KGZ                        Kyrgyzstan              Bishkek
110   103  LAO                              Laos            Vientiane
111   151  LVA                            Latvia                 Riga
112   119  LBN                           Lebanon               Beirut
113   147  LSO                           Lesotho               Maseru
114   121  LBR                           Liberia             Monrovia
115   107  LBY                             Libya              Tripoli
116   216  LIE                     Liechtenstein                Vaduz
117   141  LTU                         Lithuania              Vilnius
118   168  LUX                        Luxembourg           Luxembourg
119   167  MAC                             Macau    Concelho de Macau
120    50  MDG                        Madagascar         Antananarivo
121    62  MWI                            Malawi             Lilongwe
122    45  MYS                          Malaysia         Kuala Lumpur
123   174  MDV                          Maldives                MalÃ©
124    59  MLI                              Mali               Bamako
125   173  MLT                             Malta             Valletta
126   215  MHL                  Marshall Islands               Majuro
127   180  MTQ                        Martinique       Fort-de-France
128   126  MRT                        Mauritania           Nouakchott
129   157  MUS                         Mauritius           Port Louis
130   182  MYT                           Mayotte            Mamoudzou
131    10  MEX                            Mexico          Mexico City
132   194  FSM                        Micronesia              Palikir
133   135  MDA                           Moldova             Chisinau
134   217  MCO                            Monaco               Monaco
135   134  MNG                          Mongolia          Ulaanbaatar
136   169  MNE                        Montenegro            Podgorica
137   230  MSR                        Montserrat               Brades
138    40  MAR                           Morocco                Rabat
139    48  MOZ                        Mozambique               Maputo
140    26  MMR                           Myanmar          Nay Pyi Taw
141   145  NAM                           Namibia             Windhoek
142   225  NRU                             Nauru                Yaren
143    49  NPL                             Nepal            Kathmandu
144    71  NLD                       Netherlands            Amsterdam
145   185  NCL                     New Caledonia              NoumÃ©a
146   123  NZL                       New Zealand           Wellington
147   106  NIC                         Nicaragua              Managua
148    54  NER                             Niger               Niamey
149     6  NGA                           Nigeria                Abuja
150   232  NIU                              Niue                Alofi
151    56  PRK                       North Korea            Pyongyang
152   150  MKD                   North Macedonia               Skopje
153   210  NFK          Northern Mariana Islands               Saipan
154   120  NOR                            Norway                 Oslo
155   127  OMN                              Oman               Muscat
156     5  PAK                          Pakistan            Islamabad
157   222  PLW                             Palau            Ngerulmud
158   122  PSE                         Palestine             Ramallah
159   128  PAN                            Panama          Panama City
160    93  PNG                  Papua New Guinea         Port Moresby
161   109  PRY                          Paraguay            AsunciÃ³n
162    44  PER                              Peru                 Lima
163    13  PHL                       Philippines               Manila
164    37  POL                            Poland               Warsaw
165    92  PRT                          Portugal               Lisbon
166   136  PRI                       Puerto Rico             San Juan
167   143  QAT                             Qatar                 Doha
168   114  COG             Republic of the Congo          Brazzaville
169   161  REU                           Reunion          Saint-Denis
170    64  ROU                           Romania            Bucharest
171     9  RUS                            Russia               Moscow
172    76  RWA                            Rwanda               Kigali
173   228  BLM                  Saint Barthelemy             Gustavia
174   211  KNA             Saint Kitts and Nevis           Basseterre
175   190  LCA                       Saint Lucia             Castries
176   220  MAF                      Saint Martin              Marigot
177   229  SPM         Saint Pierre and Miquelon         Saint-Pierre
178   199  VCT  Saint Vincent and the Grenadines            Kingstown
179   188  WSM                             Samoa                 Apia
180   218  SMR                        San Marino           San Marino
181   187  STP             Sao Tome and Principe           SÃ£o TomÃ©
182    41  SAU                      Saudi Arabia               Riyadh
183    72  SEN                           Senegal                Dakar
184   105  SRB                            Serbia             Belgrade
185   196  SYC                        Seychelles             Victoria
186   102  SLE                      Sierra Leone             Freetown
187   113  SGP                         Singapore            Singapore
188   214  SXM                      Sint Maarten          Philipsburg
189   116  SVK                          Slovakia           Bratislava
190   148  SVN                          Slovenia            Ljubljana
191   166  SLB                   Solomon Islands              Honiara
192    70  SOM                           Somalia            Mogadishu
193    24  ZAF                      South Africa             Pretoria
194    29  KOR                       South Korea                Seoul
195    86  SSD                       South Sudan                 Juba
196    30  ESP                             Spain               Madrid
197    61  LKA                         Sri Lanka              Colombo
198    32  SDN                             Sudan             Khartoum
199   170  SUR                          Suriname           Paramaribo
200    87  SWE                            Sweden            Stockholm
201   101  CHE                       Switzerland                 Bern
202    60  SYR                             Syria             Damascus
203    57  TWN                            Taiwan               Taipei
204    95  TJK                        Tajikistan             Dushanbe
205    22  TZA                          Tanzania               Dodoma
206    20  THA                          Thailand              Bangkok
207   155  TLS                       Timor-Leste                 Dili
208   100  TGO                              Togo                LomÃ©
209   233  TKL                           Tokelau             Nukunonu
210   197  TON                             Tonga         Nukuâ€˜alofa
211   153  TTO               Trinidad and Tobago        Port-of-Spain
212    79  TUN                           Tunisia                Tunis
213    18  TUR                            Turkey               Ankara
214   111  TKM                      Turkmenistan             Ashgabat
215   212  TCA          Turks and Caicos Islands        Cockburn Town
216   227  TUV                            Tuvalu             Funafuti
217    31  UGA                            Uganda              Kampala
218    38  UKR                           Ukraine                 Kiev
219    97  ARE              United Arab Emirates            Abu Dhabi
220    21  GBR                    United Kingdom               London
221     3  USA                     United States     Washington, D.C.
222   200  VIR      United States Virgin Islands     Charlotte Amalie
223   133  URY                           Uruguay           Montevideo
224    43  UZB                        Uzbekistan             Tashkent
225   181  VUT                           Vanuatu            Port-Vila
226   234  VAT                      Vatican City         Vatican City
227    51  VEN                         Venezuela              Caracas
228    16  VNM                           Vietnam                Hanoi
229   226  WLF                 Wallis and Futuna             Mata-Utu
230   172  ESH                    Western Sahara            El AaiÃºn
231    46  YEM                             Yemen                Sanaa
232    63  ZMB                            Zambia               Lusaka
233    74  ZWE                          Zimbabwe               Harare

In [28]:
#To view all the rows
pd.set_option('display.max_rows',235)

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [31]:
df2.shape

(234, 4)

In [33]:
df2.head(10)

   Rank CCA3              Country           Capital
0    36  AFG          Afghanistan             Kabul
1   138  ALB              Albania            Tirana
2    34  DZA              Algeria           Algiers
3   213  ASM       American Samoa         Pago Pago
4   203  AND              Andorra  Andorra la Vella
5    42  AGO               Angola            Luanda
6   224  AIA             Anguilla        The Valley
7   201  ATG  Antigua and Barbuda    Saint Johnâ€™s
8    33  ARG            Argentina      Buenos Aires
9   140  ARM              Armenia           Yerevan

In [34]:
df2.tail(10)

     Rank CCA3            Country       Capital
224    43  UZB         Uzbekistan      Tashkent
225   181  VUT            Vanuatu     Port-Vila
226   234  VAT       Vatican City  Vatican City
227    51  VEN          Venezuela       Caracas
228    16  VNM            Vietnam         Hanoi
229   226  WLF  Wallis and Futuna      Mata-Utu
230   172  ESH     Western Sahara     El AaiÃºn
231    46  YEM              Yemen         Sanaa
232    63  ZMB             Zambia        Lusaka
233    74  ZWE           Zimbabwe        Harare

In [38]:
df2['Rank']

0       36
1      138
2       34
3      213
4      203
5       42
6      224
7      201
8       33
9      140
10     198
11      55
12      99
13      91
14     176
15     154
16       8
17     186
18      96
19      81
20     177
21      77
22     206
23     165
24      80
25     137
26     144
27       7
28     221
29     175
30     108
31      58
32      78
33      73
34      53
35      39
36     171
37     205
38     117
39      69
40      65
41       1
42      28
43     163
44     223
45     124
46     130
47      85
48     189
49     158
50      88
51     115
52     160
53     204
54      84
55      15
56      67
57      14
58     112
59     152
60     132
61     156
62     159
63      12
64     231
65     209
66     162
67     118
68      23
69     184
70     183
71     146
72     142
73     131
74      19
75      47
76     219
77      90
78     208
79     193
80     178
81     191
82      68
83     207
84      75
85     149
86     164
87      82
88      89
89     104
90      94
91     179
92       2
93       4
94      17
95      35
96     125
97     202
98      98
99      25
100     52
101    139
102     11
103    195
104     83
105     66
106     27
107    192
108    129
109    110
110    103
111    151
112    119
113    147
114    121
115    107
116    216
117    141
118    168
119    167
120     50
121     62
122     45
123    174
124     59
125    173
126    215
127    180
128    126
129    157
130    182
131     10
132    194
133    135
134    217
135    134
136    169
137    230
138     40
139     48
140     26
141    145
142    225
143     49
144     71
145    185
146    123
147    106
148     54
149      6
150    232
151     56
152    150
153    210
154    120
155    127
156      5
157    222
158    122
159    128
160     93
161    109
162     44
163     13
164     37
165     92
166    136
167    143
168    114
169    161
170     64
171      9
172     76
173    228
174    211
175    190
176    220
177    229
178    199
179    188
180    218
181    187
182     41
183     72
184    105
185    196
186    102
187    113
188    214
189    116
190    148
191    166
192     70
193     24
194     29
195     86
196     30
197     61
198     32
199    170
200     87
201    101
202     60
203     57
204     95
205     22
206     20
207    155
208    100
209    233
210    197
211    153
212     79
213     18
214    111
215    212
216    227
217     31
218     38
219     97
220     21
221      3
222    200
223    133
224     43
225    181
226    234
227     51
228     16
229    226
230    172
231     46
232     63
233     74
Name: Rank, dtype: int64

In [48]:
df2.iloc[1:7]

   Rank CCA3         Country           Capital
1   138  ALB         Albania            Tirana
2    34  DZA         Algeria           Algiers
3   213  ASM  American Samoa         Pago Pago
4   203  AND         Andorra  Andorra la Vella
5    42  AGO          Angola            Luanda
6   224  AIA        Anguilla        The Valley

In [53]:
df2.loc[df2['Country'] == 'Angola']

   Rank CCA3 Country Capital
5    42  AGO  Angola  Luanda

In [54]:
#iloc is used to search with the help of index
df2.iloc[3]

Rank                  213
CCA3                  ASM
Country    American Samoa
Capital         Pago Pago
Name: 3, dtype: object

In [51]:
df2.loc[6]

Rank              224
CCA3              AIA
Country      Anguilla
Capital    The Valley
Name: 6, dtype: object

In [32]:
df2.describe()

             Rank
count  234.000000
mean   117.500000
std     67.694165
min      1.000000
25%     59.250000
50%    117.500000
75%    175.750000
max    234.000000

***Filtering and Ordering***

In [57]:
df = pd.read_csv('/content/world_population.csv')
df.head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857.0,15585.0,14525.0,13172.0,11047.0,8316.0,6560.0,6283.0,91.0,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763.0,92664.0,89941.0,85695.0,75055.0,63328.0,64888.0,64516.0,442.0,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318.0,45036032.0,43257065.0,41100123.0,37070774.0,32637657.0,28024803.0,23842803.0,2780400.0,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469.0,2805608.0,2878595.0,2946293.0,3168523.0,3556539.0,3135123.0,2534377.0,29743.0,93.4831,0.9962,0.03

In [59]:
df[df['Rank'] < 10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

In [61]:
specific_countries = ['Bangladesh','Brazil']
df[df['Country'].isin(specific_countries)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372.0,167420951.0,157830000.0,148391139.0,129193327.0,107147651.0,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498.0,213196304.0,205188205.0,196353492.0,175873720.0,150706446.0,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70

In [62]:
df[df['Country'].str.contains('United')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [74]:
#set index as country
df2 = df.set_index('Country')

In [75]:
df2.filter(items = ['Continent',	'CCA3'])

                                      Continent CCA3
Country
Afghanistan                                Asia  AFG
Albania                                  Europe  ALB
Algeria                                  Africa  DZA
American Samoa                          Oceania  ASM
Andorra                                  Europe  AND
Angola                                   Africa  AGO
Anguilla                          North America  AIA
Antigua and Barbuda               North America  ATG
Argentina                         South America  ARG
Armenia                                    Asia  ARM
Aruba                             North America  ABW
Australia                               Oceania  AUS
Austria                                  Europe  AUT
Azerbaijan                                 Asia  AZE
Bahamas                           North America  BHS
Bahrain                                    Asia  BHR
Bangladesh                                 Asia  BGD
Barbados                          North America  BRB
Belarus                                  Europe  BLR
Belgium                                  Europe  BEL
Belize                            North America  BLZ
Benin                                    Africa  BEN
Bermuda                           North America  BMU
Bhutan                                     Asia  BTN
Bolivia                           South America  BOL
Bosnia and Herzegovina                   Europe  BIH
Botswana                                 Africa  BWA
Brazil                            South America  BRA
British Virgin Islands            North America  VGB
Brunei                                     Asia  BRN
Bulgaria                                 Europe  BGR
Burkina Faso                             Africa  BFA
Burundi                                  Africa  BDI
Cambodia                                   Asia  KHM
Cameroon                                 Africa  CMR
Canada                            North America  CAN
Cape Verde                               Africa  CPV
Cayman Islands                    North America  CYM
Central African Republic                 Africa  CAF
Chad                                     Africa  TCD
Chile                             South America  CHL
China                                      Asia  CHN
Colombia                          South America  COL
Comoros                                  Africa  COM
Cook Islands                            Oceania  COK
Costa Rica                        North America  CRI
Croatia                                  Europe  HRV
Cuba                              North America  CUB
Curacao                           North America  CUW
Cyprus                                   Europe  CYP
Czech Republic                           Europe  CZE
Denmark                                  Europe  DNK
Djibouti                                 Africa  DJI
Dominica                          North America  DMA
Dominican Republic                North America  DOM
DR Congo                                 Africa  COD
Ecuador                           South America  ECU
Egypt                                    Africa  EGY
El Salvador                       North America  SLV
Equatorial Guinea                        Africa  GNQ
Eritrea                                  Africa  ERI
Estonia                                  Europe  EST
Eswatini                                 Africa  SWZ
Ethiopia                                 Africa  ETH
Falkland Islands                  South America  FLK
Faroe Islands                            Europe  FRO
Fiji                                    Oceania  FJI
Finland                                  Europe  FIN
France                                   Europe  FRA
French Guiana                     South America  GUF
French Polynesia                        Oceania  PYF
Gabon                                    Africa  GAB
Gambia                                   Africa  GMB
Georgia                                    Asia  GEO
Germany                                  Europe  DEU
Ghana                                    Africa  GHA
Gibraltar                                Europe  GIB
Greece                                   Europe  GRC
Greenland                         North America  GRL
Grenada                           North America  GRD
Guadeloupe                        North America  GLP
Guam                                    Oceania  GUM
Guatemala                         North America  GTM
Guernsey                                 Europe  GGY
Guinea                                   Africa  GIN
Guinea-Bissau                            Africa  GNB
Guyana                            South America  GUY
Haiti                             North America  HTI
Honduras                          North America  HND
Hong Kong                                  Asia  HKG
Hungary                                  Europe  HUN
Iceland                                  Europe  ISL
India                                      Asia  IND
Indonesia                                  Asia  IDN
Iran                                       Asia  IRN
Iraq                                       Asia  IRQ
Ireland                                  Europe  IRL
Isle of Man                              Europe  IMN
Israel                                     Asia  ISR
Italy                                    Europe  ITA
Ivory Coast                              Africa  CIV
Jamaica                           North America  JAM
Japan                                      Asia  JPN
Jersey                                   Europe  JEY
Jordan                                     Asia  JOR
Kazakhstan                                 Asia  KAZ
Kenya                                    Africa  KEN
Kiribati                                Oceania  KIR
Kuwait                                     Asia  KWT
Kyrgyzstan                                 Asia  KGZ
Laos                                       Asia  LAO
Latvia                                   Europe  LVA
Lebanon                                    Asia  LBN
Lesotho                                  Africa  LSO
Liberia                                  Africa  LBR
Libya                                    Africa  LBY
Liechtenstein                            Europe  LIE
Lithuania                                Europe  LTU
Luxembourg                               Europe  LUX
Macau                                      Asia  MAC
Madagascar                               Africa  MDG
Malawi                                   Africa  MWI
Malaysia                                   Asia  MYS
Maldives                                   Asia  MDV
Mali                                     Africa  MLI
Malta                                    Europe  MLT
Marshall Islands                        Oceania  MHL
Martinique                        North America  MTQ
Mauritania                               Africa  MRT
Mauritius                                Africa  MUS
Mayotte                                  Africa  MYT
Mexico                            North America  MEX
Micronesia                              Oceania  FSM
Moldova                                  Europe  MDA
Monaco                                   Europe  MCO
Mongolia                                   Asia  MNG
Montenegro                               Europe  MNE
Montserrat                        North America  MSR
Morocco                                  Africa  MAR
Mozambique                               Africa  MOZ
Myanmar                                    Asia  MMR
Namibia                                  Africa  NAM
Nauru                                   Oceania  NRU
Nepal                                      Asia  NPL
Netherlands                              Europe  NLD
New Caledonia                           Oceania  NCL
New Zealand                             Oceania  NZL
Nicaragua                         North America  NIC
Niger                                    Africa  NER
Nigeria                                  Africa  NGA
Niue                                    Oceania  NIU
North Korea                                Asia  PRK
North Macedonia                          Europe  MKD
Northern Mariana Islands                Oceania  NFK
Norway                                   Europe  NOR
Oman                                       Asia  OMN
Pakistan                                   Asia  PAK
Palau                                   Oceania  PLW
Palestine                                  Asia  PSE
Panama                            North America  PAN
Papua New Guinea                        Oceania  PNG
Paraguay                          South America  PRY
Peru                              South America  PER
Philippines                                Asia  PHL
Poland                                   Europe  POL
Portugal                                 Europe  PRT
Puerto Rico                       North America  PRI
Qatar                                      Asia  QAT
Republic of the Congo                    Africa  COG
Reunion                                  Africa  REU
Romania                                  Europe  ROU
Russia                                   Europe  RUS
Rwanda                                   Africa  RWA
Saint Barthelemy                  North America  BLM
Saint Kitts and Nevis             North America  KNA
Saint Lucia                       North America  LCA
Saint Martin                      North America  MAF
Saint Pierre and Miquelon         North America  SPM
Saint Vincent and the Grenadines  North America  VCT
Samoa                                   Oceania  WSM
San Marino                               Europe  SMR
Sao Tome and Principe                    Africa  STP
Saudi Arabia                               Asia  SAU
Senegal                                  Africa  SEN
Serbia                                   Europe  SRB
Seychelles                               Africa  SYC
Sierra Leone                             Africa  SLE
Singapore                                  Asia  SGP
Sint Maarten                      North America  SXM
Slovakia                                 Europe  SVK
Slovenia                                 Europe  SVN
Solomon Islands                         Oceania  SLB
Somalia                                  Africa  SOM
South Africa                             Africa  ZAF
South Korea                                Asia  KOR
South Sudan                              Africa  SSD
Spain                                    Europe  ESP
Sri Lanka                                  Asia  LKA
Sudan                                    Africa  SDN
Suriname                          South America  SUR
Sweden                                   Europe  SWE
Switzerland                              Europe  CHE
Syria                                      Asia  SYR
Taiwan                                     Asia  TWN
Tajikistan                                 Asia  TJK
Tanzania                                 Africa  TZA
Thailand                                   Asia  THA
Timor-Leste                                Asia  TLS
Togo                                     Africa  TGO
Tokelau                                 Oceania  TKL
Tonga                                   Oceania  TON
Trinidad and Tobago               North America  TTO
Tunisia                                  Africa  TUN
Turkey                                     Asia  TUR
Turkmenistan                               Asia  TKM
Turks and Caicos Islands          North America  TCA
Tuvalu                                  Oceania  TUV
Uganda                                   Africa  UGA
Ukraine                                  Europe  UKR
United Arab Emirates                       Asia  ARE
United Kingdom                           Europe  GBR
United States                     North America  USA
United States Virgin Islands      North America  VIR
Uruguay                           South America  URY
Uzbekistan                                 Asia  UZB
Vanuatu                                 Oceania  VUT
Vatican City                             Europe  VAT
Venezuela                         South America  VEN
Vietnam                                    Asia  VNM
Wallis and Futuna                       Oceania  WLF
Western Sahara                           Africa  ESH
Yemen                                      Asia  YEM
Zambia                                   Africa  ZMB
Zimbabwe                                 Africa  ZWE

In [79]:
df2.filter(items = ['Continent',	'CCA3'],axis = 0)

Empty DataFrame
Columns: [Rank, CCA3, Capital, Continent, 2022 Population, 2020 Population, 2015 Population, 2010 Population, 2000 Population, 1990 Population, 1980 Population, 1970 Population, Area (km²), Density (per km²), Growth Rate, World Population Percentage]
Index: []

In [81]:
df2.filter(items = ['Zimbabwe'],axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.2

In [84]:
df2.filter(like = 'United',axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
United Arab Emirates,97,ARE,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
United Kingdom,21,GBR,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
United States,3,USA,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
United States Virgin Islands,200,VIR,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [85]:
df2.loc['United States']

Rank                                          3
CCA3                                        USA
Capital                        Washington, D.C.
Continent                         North America
2022 Population                     338289857.0
2020 Population                     335942003.0
2015 Population                     324607776.0
2010 Population                     311182845.0
2000 Population                     282398554.0
1990 Population                     248083732.0
1980 Population                     223140018.0
1970 Population                     200328340.0
Area (km²)                            9372610.0
Density (per km²)                       36.0935
Growth Rate                              1.0038
World Population Percentage                4.24
Name: United States, dtype: object

In [92]:
df[df['Rank'] < 10].sort_values(by = 'Rank',ascending = False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88

In [93]:
#['Country','Rank'] --> It gives important to Country while sorting based on the First come
df[df['Rank'] < 10].sort_values(by = ['Country','Rank'])

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24